<div style="width: 500px; height: 500px; text-align: center; margin: auto;">
    <h4>SIGN IN</h4>
    <form style="display: flex; flex-direction: column;" [formGroup]="loginForm" 
            (ngSubmit)="this.authService.signIn(loginForm.value)">
        <mat-form-field style="flex: 1;">
            <input matInput placeholder="Name" formControlName="name" type="text">
            <mat-error>
                Name is required.
            </mat-error>
        </mat-form-field>
        <mat-form-field style="flex: 1;">
            <input matInput placeholder="Password" formControlName="password" type="password">
            <mat-error>
                Password is required.
            </mat-error>
        </mat-form-field>
        <div style="flex: 1; text-align: end;">
            <button mat-button type="button">Register</button>
            <button mat-button type="submit">Submit</button>
        </div>
    </form>
    <div style="flex: 1; flex-direction: row; display: flex;">
        <hr style="flex: 0.4; color: beige">
        <div>or</div>
        <hr style="flex: 0.4; color: beige">
    </div>
    <div style="flex:1; flex-direction: row; display: flex; justify-content: center;">
        <span (click)="this.authService.facebookSignIn()" style="display: block; width: 75px; height: 100px; background: no-repeat center/80% url('../../assets/facebook-logo.svg'); cursor: pointer;"></span>
        <span (click)="this.authService.googleSignIn()" style="display: block; width: 75px; height: 100px; background: no-repeat center/80% url('../../assets/google-logo.svg'); cursor: pointer;"></span>
    </div>
</div>
